body{
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    text-align: center;
    color: white;
    font-size: 4vh;
}

.content{
    display: flex;
    flex-direction: column;
    gap: 6vh;
}

.grid{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
}

.row{
    display: flex;
    gap: 1vh;
}

.cell{
    background-color: rgba(190, 190, 190, 0.829);
    font-size: 3vh;
    font-weight: bold;
    display: flex;
    border: solid rgb(201, 201, 201) 2px;
    width: 5vh;
    height: 5vh;
    justify-content: center;
    align-items: center;
}

.keyboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vh;
}

.row1, .row2, .row3{
    display: flex;
    align-items: center;
    gap: 0.7vh;
}

.key-letter, .enter, .backspace{
    color: white;
    background-color: rgba(190, 190, 190, 0.829);
    border: solid rgb(201, 201, 201) 2px;
    font-size: 1.3vh;
    padding: 1vh;
    border-radius: 1vh;
}

.key-letter:hover, .enter:hover, .backspace:hover{
    background-color: rgba(190, 190, 190, 0.658);
    cursor: pointer;
}

.key-letter:active, .enter:hover, .backspace:hover{
    background-color: rgba(190, 190, 190, 0.781);
}

.enter, .backspace{
    width: 3vh;
    height: 2vh;
    font-size:0.8vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#letter{
    background-color: rgba(240, 188, 46, 0.842);
}

#pos{
    background-color: rgb(130, 190, 39);
}

#incorrect{
    background-color: rgba(128, 128, 128, 0.445);
}